@media only screen and (max-width: 600px) {

/*---------------  |-- banner --|  --------------*/
	.banner{
		padding:0px 0px 50px!important;
	}
	.banner-data{
		margin:50px 0px 50px!important;
	}
	.banner-data span{
		font-size:30px!important;
	}
	.banner-data h1{
		font-size:35px!important;
	}
	.banner-data br{
		display:block!important;
	}
	.banner-img img {
		margin-top:0px!important;
	}
	
/*---------------  |-- mains1 --|  --------------*/	
	.mains1 h2{
		font-size:26px!important;
	}
	.mains1 p{
		font-size:16px!important;
		text-align:justify;
	}
	.my-services{
		margin:50px 0px!important;
	}
	
}

@media only screen and (max-width: 375px) {
	.banner-data2 p{
		font-size:17px!important;
	}
	.banner-data{
		padding-left:10px!important;
		
	}
}

@media only screen and (max-width: 360px) {
	.banner-data2 p{
		font-size:17px!important;
	}
}

@media only screen and (max-width: 320px) {
	.banner-data2 p{
		font-size:16px!important;
	}
}

@media only screen and (min-width: 768px) {
	.banner{
		padding:0px!important;
	}
	.banner-data{
		padding-left:30px;
		padding-bottom:50px;
	}
	.banner-img{
		padding-bottom:50px;
	}
	
}
