body{
	padding:0px;
	margin:0px;
}
h1,h2,h3,h4,h5,h6{
	padding:0px;
	margin:0px;
	font-family: 'Lato', sans-serif;
}
body p{
	font-size:15px;
	padding:0px;
	margin:0px;
	font-family: 'Roboto', sans-serif!important;	
}
a{
	text-decoration:none!important;
}


/* All animations will take twice as long to finish */
	:root {
			--animate-duration: 1.1s;
	}


/*---------------------------------------
			|-- menu-bar --| 
---------------------------------------*/
.navbar{
	background:black!important;
}
.navbar-brand h3{
	color:#fff;
}
.active .nav-link{
	color:#ff6d38!important;
}
.nav-item a{
	color:#fff!important;
	font-weight:500!important;
	margin-left:10px;
}
.nav-item a:hover{
	color:#ff6d38!important;
}
.navbar-toggler {
    padding: .35rem .75rem;
    background-color:#ff6d38!important;
    border: 1px solid #fff!important;
	display:block;	
}
.navbar-toggler i {
	color:#fff;
	font-size:20px;
}

/*---------------------------------------
			|-- banner --| 
----------------------------------------*/
.banner{
	padding:50px 0px;
}
.banner-data{
	margin:70px 0px 0px;
}
.banner-data2{
	padding:25px 0px 10px;
}
.banner-data span{
	font-size:45px;
	font-weight:500;
}
.banner-data h1{
	font-size:55px;
	font-weight:500;
	margin-bottom:35px;
}
.banner-data p{
	font-size:19px;
	margin:5px 0px 10px;
	border-bottom:solid 2px #ff6d38;
	display:inline-block;
}
.banner-data a{
	color:black;
}
.banner-data a:hover{
	color:#ff6d38;
}
.banner-data button{
	margin:40px 10px 0px 0px; 
}
.banner-img img{
	margin-top:40px;
	width:100%;
	border:solid 2px #ff6d38;
}


/*--------- |-- mains1 --| ---------*/
.mains1 h2{
	padding:0px 0px 10px;
	margin-bottom:5px;
	font-size:30px;
	border-bottom:solid 2px #ff6d38;
}
.mains1 p{
	font-size:18px;
	font-weight:500;
}
/*---------------------------------------
		|-- Career-Objective --| 
----------------------------------------*/
.career-objective{
	margin:50px 0px;
}

/*---------------------------------------
		|-- Education Profile --| 
----------------------------------------*/
.table{
	margin:30px 0px 0px;
	text-align:center;
}
tr td {
    border:1px solid #000!important;
}
th {
    border:1px solid #000!important;
}
thead{
	background:#ff6d38;
	color:white;
}

/*---------------------------------------
		|-- Technical Skills --| 
----------------------------------------*/
.technical{
	margin:50px 0px;
}
.technical th{
	background:#ff6d38;
	color:white;
	width:220px;
}

/*---------------------------------------
		|-- training-details --| 
----------------------------------------*/
.training span{
	font-size:18px;
}
.training p{
	margin-bottom:10px;
}

/*---------------------------------------
		|--  personal-details --| 
----------------------------------------*/
.personal-details{
	margin:50px 0px;
}
.personal-details th{
	background:#ff6d38;
	color:white;
	width:220px;
}

/*---------------------------------------
		|--  Declaration --| 
----------------------------------------*/
.declaration{
	padding:0px 0px 50px;
	border-bottom:2px solid #ff6d38;
}

/*---------------------------------------
		|--  my works --| 
----------------------------------------*/
.my-works{
	margin:50px 0px;
}
.work-box{
	margin:31px 0px 20px;
	box-shadow:1px 5px 4px 4px #ccc;
	border:solid 2px #ff6d38;
}
.data-works{
	padding:20px 0px;
	color:#ff6d38;	
	border-top:solid 2px #ff6d38;
}
.data-works p{
	color:black;
}
.work-box:hover .data-works{
	border-top:solid 2px #ff6d38;
	background:#ff6d38;
	color:#fff;
}


/*---------------------------------------
		|--  my design --| 
----------------------------------------*/
.my-design{
	padding:20px 0px;
	color:#fff;
	background:#ff6d38;
}
.our-design{
	padding:5px 0px;
	font-size:18px;
}